<nz-card [nzBorderless]="true" class="h-100">
  <nz-row nzType="felx" nzJustify="space-between" nzAlign="middle" class="pb-3">
    <nz-col nzLg="12" nzMd="12" nzSm="24" nzXs="24">
      <input nz-input placeholder="Search" [ngClass]="{'w-70':!(isMobile$ |async),'w-100':(isMobile$ |async)}"
             (keyup)="search($event)"/>
    </nz-col>
    <nz-col nzLg="12" nzMd="12" nzSm="24" nzXs="24"
            [ngClass]="{'text-right':!(isMobile$ |async),'mt-2':(isMobile$ |async)}">
      <button nz-button [nzSize]="(isMobile$ |async) ? 'small' : 'default'" nzType="primary" (click)="navigateCreate()"
              class="font-weight-semibold">Add New Price Plan
      </button>
    </nz-col>
  </nz-row>

  <nz-table #pricePlanTable
            class="table-anticon text-sm-p5 text-p6 font-weight-normal text-main"
            [nzLoading]="pricePlanLoading"
            [nzData]="displayData"
            [nzPageSize]="10"
            [nzOuterBordered]="true"
            [nzShowSizeChanger]="true"
            [nzShowTotal]="rangeTemplate"
            [nzHideOnSinglePage]="false"
            [nzScroll]="{ x:!(isMobile$ | async) ? '100%':'1200px' }"
            nzBordered
  >
    <thead nzSingleSort (nzSortOrderChange)="sort($event)" class="text-sm-p5 text-p6 font-weight-semibold text-title">
    <tr>
      <th *ngFor="let header of tableHeader" nzAlign="center"
          [nzWidth]="!(isMobile$ | async) ? null: header.mobileWidth" [nzShowSort]="header.key"
          [nzColumnKey]="header.key" [nzSortFn]="true" [colSpan]="header.columnSpan" [rowSpan]="header.rowSpan">
        {{header.title}}
      </th>
    </tr>
    <tr>
      <th nzAlign="center">Weight</th>
      <th nzAlign="center">Distance</th>
    </tr>
    </thead>
    <tbody class="text-sm-p5 text-p6 font-weight-normal text-main">
    <tr *ngFor="let data of pricePlanTable.data;let i=index">

      <td nzAlign="center" class="font-weight-semibold">{{i + 1}}</td>
      <td nzAlign="center">{{data.vehicleType}}</td>
      <td nzAlign="center">
        {{data.defaultDistancePrefix !== 'N/A' ? data.defaultDistancePrefix : ''}} {{data.defaultDistance}} {{data.defaultDistanceUnit}}
      </td>
      <td nzAlign="center">
        {{data.defaultWeightPrefix !== 'N/A' ? data.defaultWeightPrefix : ''}} {{data.defaultWeight}} {{data.defaultWeightUnit}}
      </td>
      <td nzAlign="center">RM {{data.defaultPricing}}</td>
      <td nzAlign="center">
        {{data.subWeight ? ('RM ' + data.subWeightPricing + ' / ' + data.subWeight + ' ' + data.subWeightUnit) : '-'}}
      </td>
      <td nzAlign="center">
        {{data.subDistance ? ('RM ' + data.subDistancePricing + ' / ' + data.subDistance + ' ' + data.subDistanceUnit) : '-'}}
      </td>
      <td nzAlign="center">
        <i nz-icon nzType="eye" nzTheme="fill" class="text-primary mr-2 pointer" (click)="navigateView(data)"></i>
        <i nz-icon nzType="edit" nzTheme="fill" class="text-profit mr-2 pointer" (click)="navigateEdit(data)"></i>
        <i nz-icon nzType="delete" nzTheme="fill" class="text-danger pointer" (click)="onDeleteVehicle(data)"></i>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }}-{{ range[1] }} of {{ total }}items
</ng-template>

