.above-header{
  margin-top: -40px !important;
}

.ant-card{
  box-shadow: 0 2px 8px rgb(0 0 0 / 9%);
  margin-bottom: 20px;
  color: $black-6;
  font-size: $font-size-base;
  line-height: $font-line-height-base;
  border-radius: 4px;
}
