.custom-height {
  height: 100px !important;
}

.padding-none {
  ::ng-deep .ant-card-body {
    padding: unset !important;
  }
}

.custom-color-height {
  height: 91px !important;
}

.icon-size{
  font-size: 30px !important;
}

.icon-position{
  padding:30px 0px !important;
}
