<nz-card [nzBorderless]="true" class="h-100">
  <nz-row nzType="felx" nzJustify="space-between" nzAlign="middle" class="pb-3">
    <nz-col nzLg="12" nzMd="12" nzSm="24" nzXs="24">
      <input nz-input placeholder="Search" [ngClass]="{'w-70':!(isMobile$ |async),'w-100':(isMobile$ |async)}"
             (keyup)="search($event)"/>
    </nz-col>
    <nz-col nzLg="12" nzMd="12" nzSm="24" nzXs="24"
            [ngClass]="{'text-right':!(isMobile$ |async),'mt-2':(isMobile$ |async)}">
      <button nz-button [nzSize]="(isMobile$ |async) ? 'small' : 'default'" nzType="primary" (click)="navigateCreate()"
              class="font-weight-semibold">Add New Vehicle
      </button>
    </nz-col>
  </nz-row>

  <nz-table #employeeTable
            class="table-anticon text-sm-p5 text-p6 font-weight-normal text-main"
            [nzLoading]="vehicleLoading"
            [nzData]="displayData"
            [nzPageSize]="10"
            [nzOuterBordered]="true"
            [nzShowSizeChanger]="true"
            [nzShowTotal]="rangeTemplate"
            [nzHideOnSinglePage]="false"
            [nzScroll]="{ x:'780px' }"
  >
    <thead nzSingleSort (nzSortOrderChange)="sort($event)" class="text-sm-p5 text-p6 font-weight-semibold text-title">
    <tr>
      <th [nzShowSort]="header.key" [nzColumnKey]="header.key" [nzSortFn]="true"
          *ngFor="let header of tableHeader" [nzWidth]="header.nzWidth">{{header.title}}</th>
    </tr>
    </thead>
    <tbody class="text-sm-p5 text-p6 font-weight-normal text-main">
    <tr *ngFor="let data of employeeTable.data;let i=index">
      <td class="font-weight-semibold">{{data.id }}</td>
      <td>{{ data.plateNo }}</td>
      <td>{{ data.brand }}</td>
      <td>{{ data.model }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.color }}</td>
      <td>{{ data.owner }}</td>
      <td>
        <i nz-icon nzType="eye" nzTheme="fill" class="text-primary mr-1 pointer" (click)="navigateView(data)"></i>
        <i nz-icon nzType="edit" nzTheme="fill" class="text-profit mr-1 pointer" (click)="navigateEdit(data)"></i>
        <i nz-icon nzType="delete" nzTheme="fill" class="text-danger pointer"
           (click)="onDeleteVehicle(data)"></i>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }}-{{ range[1] }} of {{ total }}items
</ng-template>

