.confirmation-modal {
  width: 50vw;
  transform-origin: 270px 78.5px 0px;
  max-width: 540px;
}

.confirmation-modal-footer {
  margin-right: 2px;
  margi-left: 2px;
}

.modal-footer-button{
  padding-left: 2px;
  padding-right: 2px;
}
