<app-sub-header [title]="'Terms and Conditions'"></app-sub-header>
<div class="container">

  <nz-card class="above-header" [nzBorderless]="true">

    <div class="text-p4 font-weight-semibold">
      Website Terms & Conditions
      <p class="text-p5 font-weight-normal pb-2 pt-2">
        These terms and conditions apply to the use of this Web Site. In using this Web Site, you agree to be bound by
        these terms and conditions. If you do not accept these terms and conditions, you must refrain from using the Web
        Site.
      </p>
    </div>

    <div class="text-p4 font-weight-semibold">
      Terminology
      <p class="text-p5 font-weight-normal pb-2 pt-2">
        In these terms and conditions, the expressions:-
      </p>
      <p class="text-p5 font-weight-normal pb-2 pt-2">
        “we”, “us” and “our” are a reference to DD Express Sdn Bhd (Company No: 1211728-T) carrying on its business at
        1st Floor, Kompleks Penchala, No. 50, Jalan Penchala, Seksyen 51, 46050 Petaling Jaya, Selangor, Malaysia
        (“DD”);
      </p>
      <p class="text-p5 font-weight-normal pb-2 pt-2">
        “Web Site” is a reference to this web-site (including text, graphics, logos, icons, sound recordings, software,
        information, data, material, look and feel, selection and arrangement and contents thereof) software, database,
        contents, functionality, features, any linked web-sites, derivative works, information and print-outs thereof.
      </p>
    </div>

    <div class="text-p4 font-weight-semibold">
      Disclaimer
      <p class="text-p5 font-weight-normal pb-2 pt-2">
        We do not accept responsibility for any loss or damage, however caused (including, through contract, tort,
        negligence), which you may directly or indirectly suffer in connection with your use of this Web Site or any
        linked web site, nor do we accept any responsibility for any such loss arising out of your use of or reliance on
        information contained on or accessed through this Web Site. We do not warrant the accuracy or reliability of the
        contents of this Web Site.
      </p>
      <p class="text-p5 font-weight-normal pb-2 pt-2">
        Any condition or warranty which would otherwise be implied into these terms and conditions is hereby excluded.
        We expressly disclaim and exclude all warranties including but not limited to the implied warranties or
        merchantability or fitness for a particular purpose. Any use of this Web Site and its content is at your sole
        risk. We shall in no event be liable to you or any person claiming through you for any direct, indirect,
        consequential, incidental or other damages for any errors in or the use or of inability to use this Web Site
        including without limitation, damages for lost profits, business, data or damage to any computer systems.
      </p>
    </div>

    <div class="text-p4 font-weight-semibold">
      Copyright
      <p class="text-p5 font-weight-normal pb-2 pt-2">
        Copyright in this Web Site and other intellectual property rights thereof is owned or licensed by us. Other than
        for the purposes of, and subject to the conditions prescribed under, the Copyright Act 1987 (M’sia) and similar
        legislation which applies in your location, and except as expressly authorised by these terms and conditions,
        you may not in any form or by any means:
      </p>
      <ul class="text-p5 font-weight-normal pb-2 pt-2">
        <li>adapt, download, reproduce, reverse engineer, store, distribute, print, display, perform, publish, deal with
          or create derivative works from any part of this Web Site; or
        </li>
        <li>commercialise, sell, license, distribute any information, products or services obtained from any part of
          this Web Site
        </li>
        <li>without our written permission.</li>
      </ul>
    </div>

  </nz-card>

</div>
