[nz-carousel-content] {
  //position: relative;
  //height: 450px;

  text-align: center;
  height: 450px;
  overflow: hidden;

}

.banner-image {
  width: 100%;
  margin: auto;
  height: 550px;
}

.mobile-banner-image {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  height: 250px;
}

.custom-height {

  ::ng-deep .slick-list {
    height: 530px !important;
  }
}

.custom-mobile-height {
  ::ng-deep .slick-list {
    height: 230px !important;
  }
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.padding-right-none {
  padding-right: unset !important;
}

.icon-size {
  font-size: 70px !important;
  text-align: center !important;
  color: #0167b1 !important;
}

.grey-text {
  color: #8a94a6 !important;
}

.col-image {
  max-height: 100% !important;
  min-height: 45vh !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
